body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top left, #00008b, #00ced1),  /* Couleur de fond */
        radial-gradient(circle at 60% 40%, rgba(255,255,255,0.5), transparent);
    height : 100vh;
    margin : 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* Assure que le body occupe toute la hauteur de la fenêtre */
}
body, html {
    width: 100%;
    overflow-x: hidden;  /* Empêche le débordement horizontal */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (max-width: 768px) {
    .txth1 {
        font-size:15px;
    }
}
header {
    background-color: #00008b;  /* Couleur de fond rouge foncé */
    color: #fff;  /* Couleur du texte blanc */
    height: 5vh;
    width: 100%;  /* Assure que l'en-tête prend toute la largeur de la page */
    display: flex;
    justify-content: space-between;
}
.txth1 {
    line-height: 5vh;
    text-align: center;
    width: 90%;
    margin-left:30px;
    font-size: 3vh;
}

#logo {
    line-height: 5vh;
}
#logo img{
    width: 6vh;
    height: 5vh;
    position: relative;
    /* line-height: 30px; */
}
.menu-toggle {
      /* Taille de police de 22px */
      cursor: pointer;  /* Curseur en forme de main pour pointer */
      display: flex;  /* Utilise flexbox pour aligner les éléments */
      align-items: center;  /* Centre les éléments verticalement */
      position: fixed;  /* Position absolue pour positionner précisément */
      top: -2.5em;  /* Distance de 10px par rapport au haut */
      left: 6px;  /* Distance de 20px par rapport à la gauche */
      z-index: 2000;  /* Assure que le menu-toggle est au-dessus de la barre latérale */
      margin-top: 50px;  /* Marge supérieure de 50px */
      /* height: 35px; */
      /* width: 40px; */
      justify-content: center;
      border-radius: 20%;
}
#menu-toggle:hover {
    background-color: #5100ff;  /* Change la couleur de fond en vert clair au survol */
    box-sizing: border-box;  /* Assure que le padding est inclus dans la largeur */
    border: 0.1px solid white;
}
.menu-toggle img {
    width: 3vh;  /* Largeur de 20px */
    height: 3vh;  /* Hauteur de 20px */
    filter: invert(100%);
}
body.sidebar-active header,
body.sidebar-active .content,
body.sidebar-active footer {
  filter: blur(20px);
}

body.sidebar-active {
  overflow: hidden;
  user-select: none;
}
.sidebar {
    position: relative;
    z-index: 9999999; /* S'assure que la sidebar est au-dessus du contenu */
}
body.sidebar-active #map,
body.sidebar-active img {
  cursor: Default;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); /* Transparent pour ne pas affecter la visibilité */
  z-index: 9998; /* En dessous du sidebar */
  pointer-events: auto; /* Activer les événements de pointage */
}
#sidebar {
    background-color: transparent;  /* Barre latérale complètement transparente */
    display: flex;  /* Utilise flexbox pour aligner les éléments */
    flex-direction: column;  /* Aligne les éléments en colonne */
    padding: 15px;  /* Padding de 20px */
    position: fixed;  /* Position fixe pour rester en place lors du défilement */
    top: 0%;  /* Distance de 0 par rapport au haut */
    left: 0px;  /* Distance de 0 par rapport à la gauche */
    width: 10px;  /* Largeur initiale de 1px */
    /* height: 100vh; */  /* Ajustez la hauteur pour qu'elle ne chevauche pas le footer */
    z-index: 1000;  /* Assure que la barre latérale est en arrière-plan */
    overflow: hidden;  /* Masque le débordement */
}
#sidebar.active {
    width: 130px;  /* Largeur de 160px lorsqu'elle est active */
    background-color: rgb(24 85 133 / 91%);  /* Couleur de fond noire avec opacité complète */
    z-index: 9000;  /* Utilise une valeur de z-index plus basse */
    height: 100vh;
}
#sidebar.active .menu-toggle img {
    filter: invert(100%);
}
#sidebar ul {
    list-style: none;  /* Élimine les puces de la liste */
    margin: 0px;  /* Élimine les marges */
    padding: 0;  /* Élimine le padding */
    /* width: 100%; */  /* Largeur de 100% */
    margin-top: 4vh;  /* Marge supérieure de 90px */
}
#sidebar ul li {
    position: relative;  /* Position relative pour les éléments enfants absolus */
}
#sidebar ul li a {
    color: #ece4e4;  /* Couleur noire pour les textes lorsque le menu est fermé */
    text-decoration: none;  /* Élimine la décoration de texte */
    display: flex;  /* Utilise flexbox pour aligner les éléments */
    align-items: center;  /* Centre les éléments verticalement */
    padding: 10px;  /* Padding de 10px */
    line-height: 10px;
    position: relative;  /* Position relative pour les éléments enfants */
    width: calc(100% + 20px);  /* Utilise toute la largeur du conteneur avec le décalage */
    left: -20px;  /* Décalage de -20px */
    pointer-events: none;
}
#sidebar.active ul li a {
    color: #ede4e4;  /* Couleur blanche */
    pointer-events: auto;
}
#sidebar.active ul li a:hover {
    background-color: #8e97ed;  /* Change la couleur de fond en vert */
    color: #000;  /* Assure que la couleur du texte reste noire */
}
#sidebar ul li a:hover img {
    filter: none;  /* Désactive les filtres */
    transform: scale(1.3);
}
#sidebar ul li a img {
    width: 2vh;  /* Largeur de 20px */
    height: 2vh;  /* Hauteur de 20px */
    filter: invert(0%);  /* Couleur noire */
    margin-left: 1px;  /* Élimine la marge gauche */
    opacity: 1;  /* Opacité complète */
    pointer-events: auto;
    transition: transform 0.3s ease, border 0.3s ease;
}
#sidebar ul li a img:hover {
    background-color: #f5faf8;  /* Change la couleur de fond en vert */
    border-radius: 20%;  /* Ajoute un bord arrondi (facultatif) */
    transition: none;
}
#sidebar.active ul li a img {
    filter: invert(100%);  /* Couleur blanche */
    transition: none;
}
#sidebar ul li a span.menu-text {
    display: none;  /* Masque le texte du menu */
}
#sidebar.active ul li a span.menu-text {
    display: inline;  /* Affiche le texte du menu */
    margin-left: 5px;  /* Marge gauche de 10px */
    margin-top: 5px
}
.menu-close {
    font-size: 40px;  /* Taille de police de 24px */
    cursor: pointer;  /* Curseur en forme de main pour pointer */
    position: absolute;  /* Position absolue pour positionner précisément */
    right: 5px;  /* Distance de 20px par rapport à la droite */
    display: none;  /* Masque par défaut */
    z-index: 1100;  /* Assure que le bouton de fermeture est au-dessus de la barre latérale */
    margin-top: -15px;  /* Marge supérieure de 50px */
    color: white;
    line-height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 20%;
    border: 1px solid;
}
#menu-close:hover {
    background-color: #ff0000;
}
#sidebar.active .menu-close {
    display: block;  /* Affiche le bouton de fermeture */
}
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* border: 5px solid #def859; */
    align-items: center;
    margin: auto;
    position: relative;
    width: 100%;
    /* padding: 20px; */
}
#nom {
    display: flex;
    flex-direction: row; /* Disposer les éléments en ligne */
    /* border: 7px solid #e7959500; */
    /* min-height: 80px; */
    width: 80%; /* S'assurer que le conteneur occupe toute la largeur */
    margin-top: 0px;
    /* margin-bottom: 12px; */
    justify-content: center; /* Centrer les éléments horizontalement */
    align-items: center;
    /* flex: 1; */
}
@media (max-width: 600px) {
    #nom {
        /* flex-direction: column; */
        align-items: center; /* Centrer les éléments horizontalement */
        font-size: 10px;
        width: 93%;
        height: 70px;
    }
    #logo1 {
        margin-bottom: 10px; /* Ajout d'un espace en bas du logo */
    }
    .texte-style {
        /* text-align: center; */ /* Centrer le texte */
    }
}
#logo1 {
    /* border: 7px solid #3be75e00; */
    /* background: #bdb1b100; */
    /* height: 60px; */
    /* min-width: 15%; */
    /* margin-right: 1px; */
    display: flex;
    align-items: center;
    justify-content: right;
}
.logo1 {
    height: 10vh;
    width: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden
}
#texte {
    /* border: 7px solid #68ffdb00; */
    /* background: #ffffff00; */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    /* flex: 1; */
    /* overflow: hidden; */
    margin-bottom: 10px;
    color: white;
}
.texte-style {
    font-size: 2em;
}

.image-cover {
    display: flex;
    width: 98%;
    /* z-index: 10000; */
    margin-top: 5px;
}

.slides {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    position: relative; /* Positioning context for child elements */
    width: 100%; /* Large slide width */
    height: 40vh; /* Large slide height */
    /* margin: auto; */ /* Center the large-slide */
    /* background-color: #1c0909; */ /* Optional background color */
    /* border: 6px solid #ff0000; */
    border-radius: 2vh;
}
.slides img {
    overflow: hidden;
    box-sizing: border-box;
    position: relative; /* Positioning context for child elements */
    width: 100%; /* Large slide width */
    height: 40vh; /* Large slide height */
    border-radius: 2vh;
    object-fit: cover;
}
.dots {
    position: relative;
    top: 1vh; /* Centre horizontal */
    margin-bottom: 0px;
    justify-content: center;
    display: flex;
    gap: 10px;
}

.dot {
    height: 12px; /* Normal and readable size */
    width: 12px;
    border-radius: 50%; /* Round shape */
    background-color: #bbb; /* Default color */
    cursor: pointer;
}

.dot.active {
    background-color: #d11d1d; /* Active dot color */
}

#imapETtexte {
    /* border: 4px solid #050505; */
    /* background: #f18787; */
    width: 97%; /* Ajuster la largeur en fonction de vos besoins */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#imap {
    border: 2px solid #69ff6d;
    background: #aa9696;
    width: 44vh;
    height: 30VH;
    text-align: center;
    align-content: center;
    justify-content: center;
}
#texteimap {
    border: 2px solid #69ff6d;
    background: #f18787;
    width: 44vh;
    overflow: hidden;
    text-align: justify;
}
.imapETtexte: :after {
    content: "";
    display: block;
    height: calc(100% - var(--second-child-height));
    clear:both;
}
.texteimap {
    --second-child-height: 100px
}
#abtxtETimgAbout {
    /* border: 4px solid #050505; */
    /* background: #f18787; */
    width: 97%; /* Ajuster la largeur en fonction de vos besoins */
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap-reverse;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#abtxt {
    border: 2px solid #69ff6d;
    background: #aa9696;
    width: 44vh;
    text-align: justify;
    /* align-items: center; */
}
#imgAbout {
    border: 2px solid #69ff6d;
    background: #dfd0d0;
    width: 44vh;
    height: 30vh;
    text-align: center;
    align-content: center;
}
.btxtETimgAbout: :after {
    content: "";
    display: block;
    height: calc(100% - var(--second-child-height));
    clear:both;
}
.imgAbout {
    --second-child-height: 100px
}
#servArea {
    border: 2px solid #69ff6d;
    background: #aa9696;
    width: 85%;
    min-width: 44vh;
    min-height: 100px;
    text-align: justify;
    margin-bottom: 20px;
}
#prtfl {
    border: 2px solid #69ff6d;
    background: #aa9696;
    width: 80%;
    min-height: 100px;
    text-align: justify;
    margin-bottom: 20px;
}
#contactnous {
    border: 2px solid #69ff6d;
    background: #aa9696;
    width: 80%;
    min-height: 100px;
    text-align: justify;
    margin-bottom: 20px;
}
footer {
    background-color: #000056;  /* Couleur de fond noire */
    color: #ffffff;
    text-align: center;
    padding: 9px 0;
    position: relative;  /* Position relative pour les éléments enfants */
    width: 100%;
    box-sizing: border-box;
}
footer p {
    margin: 0;  /* Élimine toutes les marges par défaut */
    padding: 0;  /* Élimine tous les paddings */
}
footer p + p {
    margin-top: 1px;  /* Ajuste la marge supérieure entre les paragraphes */
}